.driverDocument-create-card-main {
    display: flex;
    justify-content: center;
}

.driverDocument-create-card {
    width: 100%;
    max-width: 1000px;
}

.driverDocument-create-position-content-form {
    display: flex;
    justify-content: center;
}

.driverDocument-create-content-form {
    width: 100%;
    max-width: 700px;
}

.driverDocument-create-main {
    padding: 40px;
}

.driverDocument-create-button {
    min-width: 150px;
}

.driverDocument-create-title {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Poppins';
    color: #6c757d;
}

.driverDocument-create-main-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.driverDocument-create-input {
    max-width: 700px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins';
}

.driverDocument-create-img {
    width: 60px;
}

 /* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
    .driverDocument-create-main {
        padding: 20px;
    }
}