.eps-create-card-main{
    display: flex;
    justify-content: center;
}

.eps-create-card {
    width: 100%;
    max-width: 1000px;
}

.eps-create-main {
    padding: 40px;
}

.eps-create-button {
    min-width: 150px;
}

.eps-create-title {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Poppins';
    color: #6c757d;
}

.eps-create-input {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins';
}

.eps-create-img {
    width: 60px;
}

 /* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
    .eps-create-main {
        padding: 20px;
    }
}