.list-eps-main {
    padding: 40px;
}

.list-eps-main-button {
    text-align: end;
}

.list-eps-button-title {
    min-width: 150px;
}

 /* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
    .list-eps-main {
        padding: 20px;
    }
}