.offcanvas-modal {
  position: fixed;
  top: 0;
  left: -300px; /* Cambia el valor para ajustar la posición inicial */
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
}

.offcanvas-content {
  padding: 20px;
}

button {
  margin: 10px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.offcanvas-modal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: -300px; /* Cambia el valor para ajustar la posición inicial */
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
}

.offcanvas-content {
  padding: 20px;
}

button {
  margin: 10px;
}
