.user-update-card-main{
    display: flex;
    justify-content: center;
}

.user-update-card {
    width: 100%;
    max-width: 1000px;
}

.user-update-main {
    padding: 40px;
}

.user-update-button {
    min-width: 150px;
}

.user-update-title {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Poppins';
    color: #6c757d;
}

.user-update-input {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins';
}

.user-update-img {
    width: 60px;
}

 /* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
    .user-update-main {
        padding: 20px;
    }
}